<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,500;0,600;1,500&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
    <link rel="stylesheet" href="/vendor/border-box.css" />
    <link rel="stylesheet" href="/styles/main.css" />
    <link rel="stylesheet" href="/styles/layout.css" />

    <script src="/vendor/jquery-3.0.0.js"></script>
    <script defer src="/scripts/app.js"></script>
  </head>

  <body>
    <main>
      <div class="sidebar">
        <h3>Fresh Ingredients</h3>
        <h3>Homestyle</h3>
        <h3>Family Owned</h3>
      </div>
      <section class="main">
        <h1>TITLE</h1>

        <div class="main-buttons">
          <form action=""><button>ORDER NOW</button></form>

          <form action="#menu-page"><button>SEE MENU</button></form>
        </div>
      </section>
    </main>

    <section class="menu-page" id="menu-page">
      <div class="menu">
        <div class="menu-item">
          <div class="menu-item-sub">
            <h4 class="menu-item-title">Burger</h4>
            <img class="menu-item-image" src="/images/burger.png" alt="" />
          </div>

          <p class="menu-item-description">
            Our tasty, delicious, signature burger. Made with our signature 6 OZ
            patty, lettuce, tomatoes, cheese, and our house sauce.
          </p>
        </div>
        <div class="menu-item">
          <div class="menu-item-sub">
            <h4 class="menu-item-title">Pepperoni Pizza</h4>
            <img
              class="menu-item-image"
              src="/images/peparoni_pizza.png"
              alt=""
            />
          </div>
          <p class="menu-item-description">
            Our tasty, delicious, signature burger. Made with our signature 6 OZ
            patty, lettuce, tomatoes, cheese, and our house sauce.
          </p>
        </div>
        <div class="menu-item">
          <div class="menu-item-sub">
            <h4 class="menu-item-title">Poutine</h4>
            <img class="menu-item-image" src="/images/poutine.png" alt="" />
          </div>
          <p class="menu-item-description">
            Our tasty, delicious, signature burger. Made with our signature 6 OZ
            patty, lettuce, tomatoes, cheese, and our house sauce.
          </p>
        </div>
      </div>
      <div class="menu">
        <div class="menu-item">
          <div class="menu-item-sub">
            <h4 class="menu-item-title">Perogies</h4>
            <img class="menu-item-image" src="/images/perogies.png" alt="" />
          </div>

          <p class="menu-item-description">
            Our tasty, delicious, signature burger. Made with our signature 6 OZ
            patty, lettuce, tomatoes, cheese, and our house sauce.
          </p>
        </div>
        <div class="menu-item">
          <div class="menu-item-sub">
            <h4 class="menu-item-title">Greek Salad</h4>
            <img class="menu-item-image" src="/images/greek_salad.png" alt="" />
          </div>
          <p class="menu-item-description">
            Our tasty, delicious, signature burger. Made with our signature 6 OZ
            patty, lettuce, tomatoes, cheese, and our house sauce.
          </p>
        </div>
        <div class="menu-item">
          <div class="menu-item-sub">
            <h4 class="menu-item-title">House Salad</h4>
            <img class="menu-item-image" src="/images/salad.png" alt="" />
          </div>
          <p class="menu-item-description">
            Our tasty, delicious, signature burger. Made with our signature 6 OZ
            patty, lettuce, tomatoes, cheese, and our house sauce.
          </p>
        </div>
      </div>
      <div class="menu">
        <div class="menu-item">
          <div class="menu-item-sub">
            <h4 class="menu-item-title">Lemon Cake</h4>
            <img class="menu-item-image" src="/images/lemon_cake.png" alt="" />
          </div>

          <p class="menu-item-description">
            Our tasty, delicious, signature burger. Made with our signature 6 OZ
            patty, lettuce, tomatoes, cheese, and our house sauce.
          </p>
        </div>
        <div class="menu-item">
          <div class="menu-item-sub">
            <h4 class="menu-item-title">Cheesecake</h4>
            <img class="menu-item-image" src="/images/cheesecake.png" alt="" />
          </div>
          <p class="menu-item-description">
            Our tasty, delicious, signature burger. Made with our signature 6 OZ
            patty, lettuce, tomatoes, cheese, and our house sauce.
          </p>
        </div>
        <div class="menu-item">
          <div class="menu-item-sub">
            <h4 class="menu-item-title">Fruits</h4>
            <img class="menu-item-image" src="/images/fruit.png" alt="" />
          </div>
          <p class="menu-item-description">
            Our tasty, delicious, signature burger. Made with our signature 6 OZ
            patty, lettuce, tomatoes, cheese, and our house sauce.
          </p>
        </div>
      </div>
      <div class="menu">
        <div class="menu-item">
          <div class="menu-item-sub">
            <h4 class="menu-item-title">Bagel</h4>
            <img class="menu-item-image" src="/images/bagel.png" alt="" />
          </div>

          <p class="menu-item-description">
            Our tasty, delicious, signature burger. Made with our signature 6 OZ
            patty, lettuce, tomatoes, cheese, and our house sauce.
          </p>
        </div>
        <div class="menu-item">
          <div class="menu-item-sub">
            <h4 class="menu-item-title">Black Coffee</h4>
            <img
              class="menu-item-image"
              src="/images/black_coffee.png"
              alt=""
            />
          </div>
          <p class="menu-item-description">
            Our tasty, delicious, signature burger. Made with our signature 6 OZ
            patty, lettuce, tomatoes, cheese, and our house sauce.
          </p>
        </div>
        <div class="menu-item">
          <div class="menu-item-sub">
            <h4 class="menu-item-title">Tea</h4>
            <img class="menu-item-image" src="/images/tea.png" alt="" />
          </div>
          <p class="menu-item-description">
            Our tasty, delicious, signature burger. Made with our signature 6 OZ
            patty, lettuce, tomatoes, cheese, and our house sauce.
          </p>
        </div>
      </div>
    </section>

    <section class="order-menu">
      <label class="item-label">
        <input
          type="radio"
          name="cheeseburger"
          value="one_value"
        />
        <div>Cheeseburger</div>
      </label>
      <label class="item-label">
        <input type="radio" name="poutine"  />
        <div>Poutine</div>
      </label>
    </section>

    <section class="promo">
      <div class="about">
        <p>
          We are Lorem ipsum dolor sit, amet consectetur adipisicing elit.
          Corporis quae, adipisci minus possimus officia expedita modi. Id ab ut
          culpa, soluta dolor optio ullam explicabo minus possimus provident
          harum perferendis nostrum sapiente quia ipsum eaque eos sunt qui rerum
          cum quae, sit dicta illum necessitatibus. Odit ducimus laboriosam
          ratione doloribus?
        </p>
      </div>
    </section>
    <h1>Have fun! 🥔</h1>
    <img src="" alt="" />
  </body>
</html>
