<!DOCTYPE html>
<html lang="en">

  <head>
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  </head>

  <body class="text-center index">
    <%- include('partials/_header') %>

    <h1 class="index-logo"><strong>Quality </strong><br><span>Quickly<br>Local</span><h1>

    <h2> We make delicious meals from locally sourced seasonal ingredients! </h3>
  </div>

  </body>

</html>
