// See: https://sass-lang.com/

body,
html {
  margin: 0;
  box-sizing: border-box;

}

header {
width: 80%;
color: black;
display: flex;
flex-direction: row;
justify-content: space-around;
align-items: center;
height: 120px;
background: var(--background-theme-color-2)
}

header > button {
  margin-left:20%;
}

.nav-logo{
  width: 5%;
};

.reviews{
  height: 50vh;
}

.about{
  height: 50vh;
}






